image: rustlang/rust:nightly

stages:
  - build
  - test
  - deploy

cache: {}

irma-build:
  stage: build
  tags:
    - docker
    - scicomp
  script:
    - cargo build
  artifacts:
    paths:
      - .cargo
      - target

irma-test:
  stage: test
  tags:
    - docker
    - scicomp
  dependencies:
    - irma-build
  script:
    - perl .github/scripts/check_versions_changelog.pl
    - cargo test
    - cargo doc --no-deps --document-private-items
  artifacts:
    paths:
      - target/doc
    expire_in: 12 hours

pages:
  stage: deploy
  image: rustlang/rust:nightly
  tags:
    - pages
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  dependencies:
    - irma-test
  script:
    - mv target/doc public/
    - echo "<meta http-equiv=\"refresh\" content=\"0; url=irma_core\">" > public/index.html
  artifacts:
    paths:
      - public
